<div *ngIf="error_msg_no_courriels == 1" class="card-panel red white-text center-align">
	<h5>Vous n'avez pas encore de
		courriels <i class="material-icons">sentiment_neutral</i></h5>
</div>

<ul *ngIf="error_msg_no_courriels == 0" class="collection">
	<li class="collection-item avatar" *ngFor="let courriel of(courriels)">
		<i *ngIf="courriel.courriel_lu == 'N'" class="material-icons circle">email</i>
		<i *ngIf="courriel.courriel_lu == 'Y'" class="material-icons circle">drafts</i>
		<span class="title">{{ courriel.sujet }}</span>
		<a routerLink="/courriel/{{ courriel.id }}" class="secondary-content">
			<i class="material-icons">arrow_forward</i>
		</a>
	</li>
</ul>
