<div *ngIf="error_msg_no_courriels == 1" class="card-panel red white-text center-align">
	<h5>Vous n'avez pas encore de
		courriels <i class="material-icons">sentiment_neutral</i></h5>
</div>

<div *ngIf="error_msg_no_courriels == 0">
	<h5 class="red-text">Messages reçus</h5>
	<br>
	<ul class="collection">
		<li class="collection-item avatar" *ngFor="let courriel of(courriels)">
			<i *ngIf="courriel.courriel_lu == 'N'" class="material-icons circle">email</i>
			<i *ngIf="courriel.courriel_lu == 'Y'" class="material-icons circle">drafts</i>
			<span class="title" [ngClass]="{'bold':courriel.courriel_lu == 'N'}">{{ courriel.sujet }}</span>
			<a routerLink="/courriel/{{ courriel.id }}" class="secondary-content">
				<i class="material-icons">arrow_forward</i>
			</a>
		</li>
	</ul>
</div>

<div *ngIf="error_msg_no_courriels == 0">
	<br>
	<h5 class="red-text">Messages envoyés</h5>
	<br>
	<ul class="collection">
		<li class="collection-item avatar" *ngFor="let sentcourriel of(sentcourriels)">
			<i *ngIf="sentcourriel.courriel_lu == 'N'" class="material-icons circle">email</i>
			<i *ngIf="sentcourriel.courriel_lu == 'Y'" class="material-icons circle">drafts</i>
			<span class="title" [ngClass]="{'bold':sentcourriel.courriel_lu == 'N'}">{{ sentcourriel.sujet }}</span>
			<span *ngIf="sentcourriel.courriel_lu == 'Y'" class="green-text">&nbsp;&nbsp;Lu</span>
			<a routerLink="/courriel/{{ sentcourriel.id }}" class="secondary-content">
				<i class="material-icons">arrow_forward</i>
			</a>
		</li>
	</ul>
</div>
