<div class="row">
	<form class="col s12 hoverable register-form card" (ngSubmit)="onSubmit(f)" #f="ngForm">
		<div class="row">
			<div class="input-field col s6">
				<input id="nom" type="text" name="nom" ngModel required>
				<label for="nom">Nom</label>
			</div>
			<div class="input-field col s6">
				<input id="prenom" type="text" name="prenom" class="validate" ngModel required>
				<label for="prenom">Prénom</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="email" type="email" name="email" class="validate" ngModel required>
				<label for="email">Email</label>
			</div>
			<div class="input-field col s6">
				<input id="date_de_naissance" type="text" name="date_de_naissance" class="validate datepicker"
					[(ngModel)]="birthdate">
				<label for="date_de_naissance">Date de naissance</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="mot_de_passe" type="password" name="mot_de_passe" class="validate" ngModel required>
				<label for="mot_de_passe">Mot de passe</label>
			</div>
			<div class="input-field col s6">
				<input id="confirm-password" type="password" name="confirm_mot_de_passe" class="validate" ngModel
					required>
				<label for="confirm-password">Confirmer le mot de passe</label>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<label>Genre</label>
				<select name="genre" id="genre" class="browser-default" ngModel required>
					<option value="">Sélectionnez</option>
					<option value="M">Masculin</option>
					<option value="F">Féminin</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s4 push-s4 push-m4 push-l4">
				<button type="submit" class="waves-effect waves-light btn-large red lighten-1"
					[disabled]="f.invalid">Valider <i class="material-icons right">send</i></button>
			</div>
		</div>
	</form>
</div>
