<div class="row">
	<form class="col s12 hoverable register-form card">
		<div class="row">
			<div class="input-field col s6">
				<input id="first_name" type="text" class="validate">
				<label for="first_name">Nom</label>
			</div>
			<div class="input-field col s6">
				<input id="last_name" type="text" class="validate">
				<label for="last_name">Prénom</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="email" type="email" class="validate">
				<label for="email">Email</label>
			</div>
			<div class="input-field col s6">
				<input id="dateofbirth" type="text" class="validate datepicker">
				<label for="dateofbirth">Date de naissance</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="password" type="password" class="validate">
				<label for="email">Mot de passe</label>
			</div>
			<div class="input-field col s6">
				<input id="confirm-password" type="password" class="validate">
				<label for="confirm-password">Confirmer le mot de passe</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<p>
					<label>
						<input name="genre" type="radio" />
						<span>Masculin</span>
					</label>
				</p>
			</div>
			<div class="input-field col s6">
				<p>
					<label>
						<input name="genre" type="radio" />
						<span>Féminin</span>
					</label>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s4 push-s4 push-m4 push-l4">
				<a class="waves-effect waves-light btn-large red lighten-1">Valider <i
						class="material-icons right">send</i></a>
			</div>
		</div>
	</form>
</div>
