<nav>
	<div class="nav-wrapper black">
		<a routerLink="" class="brand-logo hide-on-small-only"><img src="../assets/images/logo.png" class="logo"
				alt="sport plus" /></a>
		<form class="right">
			<div class="input-field">
				<input type="search" required id="search_text">
				<label class="label-icon" for="search_text"><i class="material-icons">search</i></label>
				<i class="material-icons">close</i>
			</div>
		</form>
		<ul class="right hide-on-med-and-down">
			<li>
				<a class="waves-effect waves-light">
					Ajouter activité<i class="material-icons left">add_circle_outline</i>
				</a>
			</li>
			<li>
				<a class="waves-effect waves-light">
					Activités<i class="material-icons left">directions_walk</i>
				</a>
			</li>
			<li>
				<a class="waves-effect waves-light">
					Membres<i class="material-icons left">people</i>
				</a>
			</li>
			<li>
				<a class="waves-effect waves-light">
					Courriels<i class="material-icons left">email</i>
				</a>
			</li>
			<li *ngIf="isAuth">
				<a class="waves-effect waves-light">
					Mon profil<i class="material-icons left">person_outline</i>
				</a>
			</li>
			<li *ngIf="!isAuth">
				<a class="waves-effect waves-light" routerLink="login">
					Se connecter<i class="material-icons left">exit_to_app</i>
				</a>
			</li>
		</ul>
	</div>
</nav>
