<div class="row">
	<div class="col s6 m6 l6 push-s3 push-m3 push-l3">
		<div class="card darken-1 hoverable">
			<div class="card-content">
				<span class="card-title">{{ membre.prenom}} {{ membre.nom }}</span>
				<ul>
					<li *ngIf="membre.is_public == 'Y'">
						<span *ngIf="membre.sexe == 'M'">Homme</span>
						<span *ngIf="membre.sexe == 'F'">Femme</span>,
						{{ age }} ans
					</li>
					<li *ngIf="membre.is_connected == 'Y'" class='green-text'>Ce membre est présentement connecté</li>
					<li *ngIf="membre.is_connected == 'N'" class='red-text'>Ce membre est présentement déconnecté</li>
					<li *ngIf="membre.is_public == 'Y'" class="orange-text">{{ membre.email }}</li>

					<li *ngIf="membre.is_public == 'Y'">Profil public</li>
					<li *ngIf="membre.is_public == 'N'">Profil privé</li>
				</ul>
			</div>
			<div class="card-action center-align" *ngIf="membre.is_public == 'Y'">
				<a routerLink="/membre/{{ membre.id }}/activites">Activités du membre<i
						class="material-icons">directions_walk</i></a>
			</div>
		</div>
		<p class="center-align">
			<a routerLink='/membres' class="btn waves-effect waves-light" type="submit" name="action">Liste des membres
				<i class="material-icons right">send</i>
			</a>
		</p>
	</div>
</div>
