<main>
	<!-- Dropdown Structure -->
	<nav>
		<div class="nav-wrapper grey darken-4">
			<a href="index.html" class="brand-logo hide-on-small-only" style="text-decoration:none"><img
					src="../assets/images/logo.png" class="logo" alt="sport plus" /></a>
			<form class="right" onsubmit="return search_film()">
				<div class="input-field">
					<input type="search" required id="search_text">
					<label class="label-icon" for="search_text"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</form>
			<ul class="right hide-on-med-and-down">
				<li><a class="btn-floating waves-effect waves-light red" href="#modal1" id=""><i
							class="material-icons">add</i></a></li>
				<li><a href="javascript:void();">Catégories</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="section" id="contenu_page">

		</div>

	</div>
</main>

<!--router-outlet></router-outlet-->

<footer class="page-footer red">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Collège Ahuntsic</h5>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Par Fahmi Derbali + Annabel Andersson
		</div>
	</div>
</footer>
