<div class="row">
	<div *ngFor="let activite of (activites)" class="col m3 m3 l3" @translate @fade>
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" [src]="getActiviteImage(activite.id_categorie)">
				<!--src="/assets/images/soccer.jpg"-->
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">{{ activite.nom }}<i
						class="material-icons right">more_vert</i></span>
				<p><a routerLink="/activite/{{ activite.id }}">Plus de détails</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">{{ activite.nom }}<i
						class="material-icons right">close</i></span>
				<p>{{ activite.description }}</p>
			</div>
		</div>
	</div>
</div>
