<div class="row">
	<div *ngIf="error_msg_no_activities == 1" class="card-panel red white-text center-align"><b> Pas d'activités pour ce
			membre pour
			le moment</b></div>

	<div *ngFor="let activite of (activites)" class="col m3 m3 l3" @translate @fade>
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" [src]="getActiviteImage(activite.id_categorie)">
				<!--src="/assets/images/soccer.jpg"-->
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">{{ activite.nom }}<i
						class="material-icons right">more_vert</i></span>
				<p><a class="waves-effect waves-light deep-orange btn btn-small"
						routerLink="/activite/{{ activite.id }}">Détails<i
							class="material-icons right">keyboard_arrow_right</i></a>
				</p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">{{ activite.nom }}<i
						class="material-icons right">close</i></span>
				<p>{{ activite.description }}</p>
			</div>
		</div>
	</div>
</div>
